@import "tailwindcss";

/* Add typography plugin styles if needed */

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  font-family: "RedditSans", "sans-serif";
  font-weight: 400;
  color: #333333;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Reddit Sans*/
/* @import 'https://static.pw.live/fonts/reddit/font.css'; */
@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-Regular.ttf");
  font-weight: 200;
}
@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: RedditSans;
  src: url("https://static.pw.live/fonts/reddit/static/RedditSans-Bold.ttf");
  font-weight: 900;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
